# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
multi-modal-emotion-recognition/
training_runs/
extracted_audio/
extracted_bboxes/
extracted_faces_videos/
models/

# Data folders

# Other files
*.deb
*.mp3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
